*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;  
    line-height: 1.5; 
}

ol, ul {
    list-style: none; 
}

a {
    text-decoration: none; 
    color: inherit; 
}

img {
    max-width: 100%; 
    display: block; 
}

header{
    height: 80px;
    background-color: #FF8059;
}

.header-content{
    display: flex;
    align-items: center;
    padding-left: 2em;
    /* background-color: red; */
}

.container{
    margin: auto;
    width: 80%;
    height: 100%;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo>img{
    height: 60px;
}

.logo span{
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#btnUp{
    position: fixed;
    z-index: 10;
    width: 50px;
    right: 70px;
    bottom: 70px;
}

.banner{
    height: 54.54em;
    background-image: url(imgs/Banner.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner h1{
    font-size: 40px;
}

.banner p{
    font-size: 30px;
}

#section-receitas{
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-receitas h2{
    display: none;
}

.card-receita{
    height: 25em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.card-receita>img{
    height: 100%;
    max-width: 45%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-texto{
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-texto h3{
    font-size: 30px;
    font-weight: bold;
}

.card-texto p{
    display: flex;
    flex-wrap: wrap;
}

.btn-receita{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-receita img{
    width: 105px;
}






/* Pagina de receita */
.content{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFEEE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.content h1{
    font-size: 2.5em;
    font-weight: bolder;
}

.icones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone img{
    height: 70px;
}

.imagem-receita{
    width: 60%;
}

.setor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.part-header{
    width: 60%;
    border-radius: 20px;
    background-color:#FF8059;
    padding: 3px 2px 3px 25px;
}

.part-header h3{
    color: white;
    font-weight: bold;
}

ul {
    width: 55%;
    font-size: 1.3em;
    gap: 10px;
}

.lista-ingredientes{
    list-style-type:circle; 
    gap: 20px;
}

.lista-preparo div{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: white;
    color: #FF8059;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.lista-preparo li{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}